*{
    box-sizing: border-box;
    padding: 0;
    margin: 1;

}

html{
 font-size: 62.5%;
 background-color:darkgrey;
 
}
#nieve{
    color:white;
}
img{
    width: 5rem;
    vertical-align:middle;
}

.logo{
    margin: 0rem 1rem;
}

.container{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 3.2rem;
    align-items: center;
    justify-content: left;
    margin: 5rem 5rem 0rem 5rem;
    min-width: 30rem;
    border: 0.1rem rgb(44, 41, 41) solid;
    box-shadow: 0px 68px 10px 2px rgba(0,0,0,0.61);
    border-bottom: 0;
    background-color:indianred ;
    padding: 2rem 2rem;
    /* box-shadow:rgb(78, 74, 74) 0.1rem 0.1rem; */
}

.box1{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
    background-color: coral;
    text-align: center;
    margin: 0 1rem;
}
.box2{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
    background-color: cornflowerblue;
    text-align: center; 
}
.box3{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
     

}

.box5{
    display: flex;
    
}



p{
    padding: 5rem;
    font-size: 1.6rem;
    text-align:justify;
    min-width: 30rem;
    border: 0.1rem black solid;
    border-bottom: 0;
    border-top: 0;
    background-color: white;
    margin: 0rem 5rem 0rem 5rem;
    box-shadow: 0px 68px 10px 2px rgba(0,0,0,0.61);
}

.box4{
    font-size: 1rem;
    justify-content:start;
    width: 4.0rem;
    height: 4.0rem;
    color: rgb(255, 255, 255);
}


.social p{
    text-align: center;
    font-size: 30px;
    min-width: 30rem;
    border-top: 0;
    margin-bottom: -40px;
    box-shadow: 0px 60px 10px 2px rgba(0,0,0,0.61);
}

.links{
    display: flex;
    align-items: center;
    justify-content:center;
 
 
}

.links a {
    margin: 0 30px;

}

.links a i {
    font-size: 3rem;
    color: rgb(116, 4, 110);
    
}

/* .footer-links{
    background: #2f3640;
    color: #0fdd08;
    font-size: 12px;
    padding: 30px 0;
}
 */


.footer{

    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    color: ivory;
    align-items: center;
    justify-content: center;
    margin:50px;
    margin-top: -15px;
    min-width: 30rem;
    background-color:indianred ;
    padding: 2rem 2rem;
    box-shadow: 0px 8px 10px 2px rgba(0,0,0,0.61);
 /*    background: #000000;
    color: chartreuse;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px; */

}
.footer  h4{
    margin: 10px;
    padding: 0;
}






/* valores genericos para los copos */
.copo {
    background-color: #00f;
    color:#fff;
    position:relative;
    z-index:0;
}
/* definimos los 4 tipos de copos */
.copo1 {
    height:1px;
    width:1px;
}
.copo2 {
    height:2px;
    width:2px;
}
.copo3 {
    height:3px;
    width:3px;
    border-radius:2px;
}
.copo4 {
    height:4px;
    width:4px;
    border-radius:3px;
}