*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html{
 font-size: 62.5%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    font-size: 3.2rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    min-width: 30rem;

   
}

.box1{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
    background-color: coral;
}
.box2{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
    background-color: cornflowerblue; 
}
.box3{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
    background-color: white; 

}

.box5{
    display: flex;
    
}

p{
    padding: 5rem;
    font-size: 1.6rem;
    text-align:justify;
    min-width: 30rem;
}

.box4{
    font-size: 1rem;
    justify-content:start;
    width: 4.0rem;
    height: 4.0rem;
}
