*{
    box-sizing: border-box;
    padding: 0;
    margin: 1;

}

html{
 font-size: 62.5%;
 background-color:darkgrey;
}
img{
    width: 5rem;
    vertical-align:middle;
}

.logo{
    margin: 0;
}

.container{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 3.2rem;
    align-items: center;
    justify-content: left;
    margin: 5rem 5rem 0rem 5rem;
    min-width: 30rem;
    border: 0.1rem rgb(44, 41, 41) solid;
    background-color:indianred ;
    padding: 2rem 2rem;
    /* box-shadow:rgb(78, 74, 74) 0.1rem 0.1rem; */
}

.box1{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
    background-color: coral;
    text-align: center;
    margin: 0 1rem;
}
.box2{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
    background-color: cornflowerblue;
    text-align: center; 
}
.box3{
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 0.3rem;
     

}

.box5{
    display: flex;
    
}



p{
    padding: 5rem;
    font-size: 1.6rem;
    text-align:justify;
    min-width: 30rem;
    border: 0.1rem black solid;
    background-color: white;
    margin: 0rem 5rem 5rem 5rem;
    box-shadow: 0px 8px 10px 2px rgba(0,0,0,0.61);
}

.box4{
    font-size: 1rem;
    justify-content:start;
    width: 4.0rem;
    height: 4.0rem;
    color: rgb(255, 255, 255);
}
